<% if logged_in? %>
  <div>
    Pickup Items
  </div>
  <div>
    今月の成績
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="top-pic">
        <img src="/images/top01.jpg" alt="" width="100%">
        <p class="text-right">
          おいしい仕事<br>
          はじめよう
        </p>
      </div>
    </div>
    <div class="row">
      <h3>mono Compi !</h3>
      <h5>概要説明</h5>
    </div>
    <div class="text-center">
      <div class="box col-md-3 col-sm-4 col-xs-12">
        <img src="" alt="">
        <p>mono Compi ! の機能１</p>
        <p>サイトごとのモノの価格の比較</p>
      </div>
      <div class="box col-md-3 col-sm-4 col-xs-12">
        <img src="" alt="">
        <p>mono Compi ! の機能２</p>
        <p>月別の売上・利益目標の設定と予実分析</p>
      </div>
      <div class="box col-md-3 col-sm-4 col-xs-12">
        <img src="" alt="">
        <p>mono Compi ! の機能３</p>
        <p>xxxx</p>
      </div>
      <div class="box col-md-3 col-sm-4 col-xs-12">
        <img src="" alt="">
        <p>mono Compi ! の機能４</p>
        <p>xxxx</p>
      </div>
    </div>
  </div>
<% end %>