@charset "utf-8";

/* navbar */
.navbar {
  background: #87cefa;
  color: #ffffff;
}

.navbar .title {
  font-size: 30px;
}

.navbar .menu {
  font-size: 15px;
}

/* footer */
footer {
  background: #000000;
  color: #ffffff;
}

/* toppage */
.top-pic {
  position: relative;
}

.top-pic p {
  position: absolute;
  color: white;
  top: 50%;
  left: 70%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 2em;
}

.top-pic img {
  width: 100%;
  margin: 0;
}

.box {
  background-color: #EEEEEE;
  height: 200px;
  margin: 10px;
}

.top-icon {
  margin: 10px;
}

.pickup-items {
  width: 45%;
  float: left;
}

.monthly-result {
  width: 45%;
  float: right;
}


/* item 表示 */
.item .panel-body {
  height: 120px;
}

.item .panel-heading {
  height: 250px;
}

.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}

p.item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 検索 */
.rk-search {
  width: 45%;
  float: left;
}

.ys-search {
  width: 45%;
  float: right;
}


/* Login */
.login-enter {
  width: 45%;
  float: left;
}

.login-pics {
  width: 45%;
  float: left;
}

