<footer>
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">プライバシー</a></li>
        <li><a href="#">個人情報保護基本方針</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </div>
    <div class="row">
      <ul class="nav navbar-nav navbar-rigth">
        <li>© Copyright 2017</li>
        <li>Tel ・ 0120-xxx-xxx | 06-xxxx-xxxx</li>
        <li class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">言語を選択<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Chinese</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Korean</a></li>
            <li><a href="#">Japanese</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>