<footer>
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav navbar-left">
        <li>プライバシー</li>
        <li>個人情報保護基本方針</li>
        <li>お問い合わせ</li>
      </ul>
    </div>
    <div class="row">
      <ul class="nav navbar-nav navbar-rigth">
        <li>© Copyright 2017</li>
        <li>Tel ・ 0120-xxx-xxx | 06-xxxx-xxxx</li>
        <li class="dropdown">言語を選択<span class="caret"></span></li>
          <ul class="dropdown-menu">
            <li>Chinese</li>
            <li>English</li>
            <li>Korean</li>
            <li>Japanese</li>
            <li>Spanish</li>
          </ul>
      </ul>
    </div>
  </div>
</footer>