<header>
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="colapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-left title" href='/'>mono Compi !</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">      
          <% if logged_in? %>
            <li>
              <%= link_to items_path do %>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              アイテム比較
              <% end %>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                成績
              </a>
            </li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Signup', signup_path %></li>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>